.accedo-ui-keyboard.keyboard_base{
    position:absolute;
    z-index: 9999;
}

.accedo-ui-keyboard.keyboard_base.shade{
    width: 1280px;
    height: 720px;
    background-image: url(../../images/core/trans_bkg.png);
}

.accedo-ui-keyboard .pageInputField{
    position: relative;
    height: 50px;
    overflow: hidden;
}

.accedo-ui-keyboard .pageInputFieldTxt{
    position: absolute;
    left: 13px;
    top: 14px;
    width: 387px;
    height: 25px;
    font-size: 18px;
    color:#999999;
    white-space: nowrap;
    overflow: hidden;
}

.accedo-ui-keyboard .pageInputFieldTxt.fill{
    color:#666666;
}

.accedo-ui-keyboard .pageInputFieldBg{
    position: absolute;
    left: 0;
    width: 400px;
    height: 50px;
    font-family: fontstyle3;
}

.accedo-ui-keyboard .pageInputFieldBg .left{
    width: 7px;
    height: 50px;
    float: left;
    background: url("../../images/core/keyboard/borderBg/PinBox_Inactive_Start.png") no-repeat transparent;
}
.accedo-ui-keyboard .focused .pageInputFieldBg .left{
    background: url("../../images/core/keyboard/borderBg/PinBox_Normal_Start.png") no-repeat transparent;
}
.accedo-ui-keyboard .mouse-focused .pageInputFieldBg .left{
    background: url("../../images/core/keyboard/borderBg/PinBox_Select_Start.png") no-repeat transparent;
}

.accedo-ui-keyboard .pageInputFieldBg .middle{
    height: 50px;
    float: left;
    background: url("../../images/core/keyboard/borderBg/PinBox_Inactive_Middle.png") repeat-x transparent;
}
.accedo-ui-keyboard .focused .pageInputFieldBg .middle{
    background: url("../../images/core/keyboard/borderBg/PinBox_Normal_Middle.png") repeat-x transparent;
}
.accedo-ui-keyboard .mouse-focused .pageInputFieldBg .middle{
    background: url("../../images/core/keyboard/borderBg/PinBox_Select_Middle.png") repeat-x transparent;
}

.accedo-ui-keyboard .pageInputFieldBg .right{
    width: 7px;
    height: 50px;
    float: left;
    background: url("../../images/core/keyboard/borderBg/PinBox_Inactive_End.png") no-repeat transparent;
}
.accedo-ui-keyboard .focused .pageInputFieldBg .right{
    background: url("../../images/core/keyboard/borderBg/PinBox_Normal_End.png") no-repeat transparent;
}
.accedo-ui-keyboard .mouse-focused .pageInputFieldBg .right{
    background: url("../../images/core/keyboard/borderBg/PinBox_Select_End.png") no-repeat transparent;
}

.accedo-ui-keyboard .inactive .pageInputFieldBg .left{
    background: url(../../images/core/keyboard/borderBg/PinBox_Inactive_Start.png) no-repeat transparent;
}
.accedo-ui-keyboard .inactive .pageInputFieldBg .middle{
    background: url(../../images/core/keyboard/borderBg/PinBox_Inactive_Middle.png) repeat-x transparent;
}
.accedo-ui-keyboard .inactive .pageInputFieldBg .right{
    background: url(../../images/core/keyboard/borderBg/PinBox_Inactive_End.png) no-repeat transparent;
}

.accedo-ui-keyboard.keyboardContainer{
    position: absolute;
    left: 126px;
    top: 146px;
    color: #FFFFFF;
}

.accedo-ui-keyboard.keyboardContainer.popup{
    z-index: 5000;
}

.accedo-ui-keyboard.keyboardContainer.full{
    z-index: 5000;
}

.accedo-ui-keyboard.keyboardContainer.inactive{
    color:#999999;
}

#keyboard_bg{
    position:absolute;
    width: 1005px;
    height: 467px;
}

.accedo-ui-keyboard.keyboardContainer .numbg{
    position: absolute;
    width: 299px;
    height: 299px;
    left: 673px;
    top: 80px;
    background-image: url(../../images/core/keyboard/smallbg.png);
}

.accedo-ui-keyboard.keyboardContainer .title{
    position: absolute;
    width: 940px;
    left: 30px;
    top: 14px;
    font-size: 36px;
    color: #0EB4F6;
}

.accedo-ui-keyboard.keyboardContainer .cursor{
    position: relative;
    width: 4px;
    height: 43px;
    color: transparent;
    background-image: url("../../images/core/keyboard/line.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.accedo-ui-keyboard.keyboardContainer .cursor_copy{
    position: relative;
    top: -2px;
    font-size: 26px;
    color: #999999;
}

.accedo-ui-keyboard.keyboardContainer .outputText{
    position: absolute;
    left: 17px;
    top: 14px;
    width: 2000px;
    height: 38px;
    font-size: 26px;
    letter-spacing: 1.2px;
}

.accedo-ui-keyboard.keyboardContainer .outputText_copy{
    position: absolute;
    left: 17px;
    top: 14px;
    width: 2000px;
    height: 38px;
    font-size: 26px;
    letter-spacing: 1.2px;
    color: white;
}

.accedo-ui-keyboard.keyboardContainer .greytxt{
    color: #666666;
}

.accedo-ui-keyboard.keyboardContainer .rightMargin{
    margin: 0 5px 0 0;
}

.accedo-ui-keyboard.keyboardContainer .outputField{
    position: absolute;
    width: 933px;
    height: 54px;
    left: 34px;
    top: 65px;
    overflow: hidden;
    background: url(../../images/core/keyboard/outputField.png) no-repeat transparent;
}

.accedo-ui-keyboard.keyboardContainer .fullKeyBoardLayout{
    position: absolute;
    left: 31px;
    top: 159px;
    width: 955px;
}

.accedo-ui-keyboard.keyboardContainer .numPadKeyBoardLayout{
    position: absolute;
    width: 332px;
    height: 332px;
    left: 707px;
    top: 120px;
}

.accedo-ui-keyboard.keyboardContainer .key{
    position:relative;
    width: 77px;
    height: 57px;
    float: left;
    background: url(../../images/core/keyboard/keys.png) no-repeat transparent;
    background-position: -161px -65px;
}

.accedo-ui-keyboard.keyboardContainer .key.width2{
    width: 153px;
    margin: 0px 1px 0px 0px;
    background-position: -1px -63px;
}

.accedo-ui-keyboard.keyboardContainer .key.width3{
    width: 230px;
    margin: 0 0 0 1px;
    background-position: -1px -3px;
}

.accedo-ui-keyboard.keyboardContainer .key.grey{
    background-position: -161px -257px;
}

.accedo-ui-keyboard.keyboardContainer .key.grey.width2{
    width: 160px;
    background-position: -1px -259px;
}

.accedo-ui-keyboard.keyboardContainer .key.green{
    width: 153px;
    margin: 1px 6px 0 0;
    background-position: -1px -320px;
}

.accedo-ui-keyboard.keyboardContainer .key.focused,
.accedo-ui-keyboard.keyboardContainer .key.mouse-focused{
    background-position: -161px -192px;
}

.accedo-ui-keyboard.keyboardContainer .key.width2.focused,
.accedo-ui-keyboard.keyboardContainer .key.width2.mouse-focused{
    background-position: -1px -195px;
}

.accedo-ui-keyboard.keyboardContainer .key.width3.focused,
.accedo-ui-keyboard.keyboardContainer .key.width3.mouse-focused{
    background-position: -3px -127px;
}

.accedo-ui-keyboard.keyboardContainer .key_txt{
    position: absolute;
    top: 15px;
    width: 100%;
    font-size: 23px;
    text-align: center;
}

.accedo-ui-keyboard.keyboardContainer .focused .key_txt,
.accedo-ui-keyboard.keyboardContainer .mouse-focused .key_txt{
    color: #FFFFFF;
}

.accedo-ui-keyboard.keyboardContainer .backspace{
    left: 49px;
    width: 47px;
    height: 25px;
    background: url(../../images/core/keyboard/label_delete.png) no-repeat transparent;
}

.accedo-ui-keyboard.keyboardContainer .back{
    left: 24px;
    width: 29px;
    height: 23px;
    background: url(../../images/core/keyboard/label_left.png) no-repeat transparent;
}

.accedo-ui-keyboard.keyboardContainer .next{
    left: 26px;
    width: 29px;
    height: 23px;
    background: url(../../images/core/keyboard/label_right.png) no-repeat transparent;
}

.accedo-ui-keyboard.keyboardContainer .bpCom{
    left: 0px;
}

.accedo-ui-keyboard.keyboardContainer .newline{
    clear: both;
}

.accedo-ui-keyboard.keyboardContainer .numPadKeyBoardLayout .key_txt.delete{
    font-size: 20px;
}
