/* Navigation bar */
.navigationBar{
    position: absolute;
    left: 0px;
    /*top: 0px;*/
	bottom: 0px;  
    width: 1280px;
    height: 60px;
    vertical-align: middle;
    overflow: hidden;
    background: url("../../images/core/navigationHelp_lg/navbar.png") repeat-x transparent;
    z-index: 1200;
}

.navigationBar .navigationBarBody{
    position: absolute;
    left: 0px;
    width: 1280px;
    height: 60px;
    text-align: right;
}


.navigationItem{
    font-size: 17px;
	text-align: center;
    letter-spacing: 0.03em;
    width: 214px;
    height: 60px;
    visibility: hidden;
}

.navigationItem .accedo-ui-label{
    line-height: 44px;
    white-space: nowrap;
}

.navigationItem div {
	padding-top: 5px;
	padding-left: 65px;
	text-align: left;
}

.navigationItemRed{
	background: url("../../images/core/navigationHelp_lg/navbar_red.png") no-repeat transparent;
}
.navigationItemRed div{
	padding-left:80px;
}
.navigationItemRed.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_red_hover.png") no-repeat transparent;	
}
.navigationItemGreen{
	background: url("../../images/core/navigationHelp_lg/navbar_green.png") no-repeat transparent;	
}
.navigationItemGreen.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_green_hover.png") no-repeat transparent;	
}
.navigationItemYellow{
	background: url("../../images/core/navigationHelp_lg/navbar_yellow.png") no-repeat transparent;	
}
.navigationItemYellow.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_yellow_hover.png") no-repeat transparent;	
}
.navigationItemBlue{
	background: url("../../images/core/navigationHelp_lg/navbar_blue.png") no-repeat transparent;	
}
.navigationItemBlue.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_blue_hover.png") no-repeat transparent;	
}
.navigationItemHome{
	background: url("../../images/core/navigationHelp_lg/navbar_lghome.png") no-repeat transparent;
}
.navigationItemHome.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_lghome_hover.png") no-repeat transparent;	
}
.navigationItemHome.netcast{
	background: url("../../images/core/navigationHelp_lg/navbar_netcast.png") no-repeat transparent;
}
.navigationItemHome.netcast.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_netcast_hover.png") no-repeat transparent;	
}
.navigationItemHome.netcast .accedo-ui-label{
	padding-left: 69px;
}
.navigationItemBack{
	background: url("../../images/core/navigationHelp_lg/navbar_exit.png") no-repeat transparent;	
	width: 210px;
}
.navigationItemBack.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_exit_hover.png") no-repeat transparent;	
}
.navigationItemBack.back{
	background: url("../../images/core/navigationHelp_lg/navbar_back.png") no-repeat transparent;	
	width: 210px;
}
.navigationItemBack.back.mouse-focused{
	background: url("../../images/core/navigationHelp_lg/navbar_back_hover.png") no-repeat transparent;	
}