@font-face {
    font-family : fontstyle1;
    src : url("../../fontstyle1.ttf") format('truetype');
}
@font-face {
    font-family : fontstyle2;
    src : url("../../fontstyle2.ttf") format('truetype');
}
@font-face {
    font-family : fontstyle3;
    src : url("../../fontstyle3.ttf") format('truetype');
}

/* Beginning of XDK default styles */
/* Linear Layout (also used in lists) */
.accedo-ui-layout-linear-h > * {
    float:	left;
}
/* List */
.accedo-ui-list > * {
    border-width:   3px;
    border-style:   solid;
    border-color:   transparent;
}
.accedo-ui-list > .selected {
    border-color:   black;
}
.accedo-ui-list.focused > .selected {
    border-color:   #3cd2ff;
}
/* Input */
.focused .accedo-ui-input  {
    border: 4px solid #3cd2ff;
}

/* Popups */
.accedo-ui-popupcontent {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../../images/core/trans_bkg.png);
    z-index: 1998;
}

/* End of XDK default styles */
body {
    width: 1280px;
    height: 720px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.03em;
    font-family : fontstyle3;
    color: #FFFFFF;
    background-color: #002948;
    overflow: hidden;
}

.bold {
    font-weight: normal;
    font-family: fontstyle2;
}

#BG_loader{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    line-height: 713px;
    font-size: 40px;
    text-align: center;
    background: url("../../images/module/bpvod/background3.jpg") no-repeat black;
    z-index: 9999;
}

#TVArea {
    position: fixed; /*positionned so the overflow property works as expected*/
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    background: url("../../images/core/bg.jpg") no-repeat #18abde;
}

#revision{
    position: absolute;
    left: 43px;
    top: 13px;
    font-size: 20px;
    color: white;
    background: black;
    z-index: 99999;
}

#bpLogo, #BG_loader_bpLogo {
    position: absolute;
    left: 990px;
    top: 60px;
    width: 170px;
    height: 32px;
    background: url("../../images/core/bpLogo.png") no-repeat transparent;
}

#loadingOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    z-index: 2200;
}
.loadingOverlayBg {
    position: absolute;
    left: 523px;
    top: 293px;
    width: 235px;
    height: 133px;
    background: url("../../images/core/loadingOverlay/loadingOverlayBg.png") no-repeat transparent;
    z-index: 2500;
}
.loadingOverlayBg.hidden {
    background-image: none;
}
.loadingCircle {
    position: relative;
    left: 98px;
    top: 30px;
    width: 41px;
    height: 41px;
    z-index: 2210;
}

#videoFS{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    opacity: 0;
    background-color: black;
    z-index: 99;
}

.bpmvPopup.exitPopup{
    left: 350px;
    top: 256px;
    width: 579px;
    height: 209px;
    background: url('../../images/core/exit_bg.png') no-repeat transparent;
}

.exitPopup .exitPopup_msg{
    position: absolute;
    left: 28px;
    top: 82px;
    width: 330px;
    height: 110px;
    font-size: 20px;
    color: #465064;
    overflow: hidden;
}
.bpmvPopup .button{
    width: 198px !important;
}
.bpmvPopup .button .middle{
    width: 152px;
}
.exitBg > div{
    z-index: 10000;
}

/* info message bar */
#infoMessageBarStore {
    position: absolute;
    left: 0;
    bottom: 44px;
    width: 1280px;
    vertical-align: bottom;
    z-index:1999;
}
#infoMessageBarStore .infoMessageBar {
    position: relative;
    left: 0;
    bottom: 30px;
    width: 1280px;
    height: 48px;
    margin-bottom: 0;
    padding: 9px 27px 5px 107px;
    font-size: 21px;
    color: #ffffff;
    display: block;
}
#infoMessageBarStore .infoMessageBar.greenBar{
    background: url('../../images/core/info/msgBar_green.png') no-repeat transparent;
}
#infoMessageBarStore .infoMessageBar.greenBigBar{
    height: 97px;
    margin-bottom: -67px;
    background: url('../../images/core/info/msgBar_green_big.png') no-repeat transparent;
}
#infoMessageBarStore .infoMessageBar.blueBar{
    background: url('../../images/core/info/msgBar_blue.png') no-repeat transparent;
}
#infoMessageBarStore .infoMessageBar.redBar{
    background: url('../../images/core/info/msgBar_red.png') no-repeat transparent;
}

#infoMessageBarStore .infoMessageBar.greenBigBar table {
    position: relative;
    top: 10px;
    font-weight: lighter;
}
#infoMessageBarStore .infoMessageBar.greenBigBar .accedo-ui-label .icon{
    position: absolute;
    width: 33px;
    height: 22px;
    margin-left: 5px;
	background: url('../../images/core/navigationHelp_lg/yellow.png') no-repeat transparent;
}

.blueButton {
    width: 180px;
    height: 54px;
    line-height: 54px;
    font-size: 17px;
    text-align: center;
    background: url("../../images/core/btn/blue.png") no-repeat transparent;
}
