<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Version: <%{VERSION}%>
Revision: <%{REVISION}%>
Publish environment: <%{ENV_NAME}%>
-->
<html>
    <head>
        <link rel="stylesheet" type='text/css' href="css/core/view.css"/>
        <link rel="stylesheet" type='text/css' href="css/core/navigationBar.css"/>
        <link rel="stylesheet" type='text/css' href="css/core/keyboard.css"/>

        <link rel="stylesheet" type='text/css' href="css/module/bpvod/bpvod.css"/>

        <!-- Some APIs / libs that aren't lazy loaded -->
        <script type="text/javascript" src="js/telstra/api/config.js"></script><!-- MUST be before Omniture -->
        <script type="text/javascript" src="js/lib/json2.js"></script>
        <!--<script type="text/javascript" src="js/videoDebug.js"></script>-->
		
		<object type="application/x-netcast-info" id="deviceInfo" width="0px" height="0px"></object>

        <!--XDK library -->
        <script type="text/javascript" src="js/accedo/accedo.js"></script>
        <!--Unified App starting script -->
        <script type="text/javascript" src="js/telstra/sua/core/main.js"></script>
    </head>

    <body>
        <div id="BG_loader">
            Loading...
            <div id="BG_loader_bpLogo"></div>
        </div>
        
        <script type="text/javascript">
            //Add a revision info DIV if we are not in production
            if ('<%{ENV_NAME}%>' !== 'prod') {
                document.body.innerHTML += '<div id="revision"><%{VERSION}%></div>';
                
                // add lite firebug panel
                var liteFirebug = document.createElement('script');
                liteFirebug.setAttribute('src', 'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js');
                liteFirebug.setAttribute('type', 'text/javascript');
                var headElement = document.getElementsByTagName('head')[0];
                if (headElement){
                	headElement.appendChild(liteFirebug);
                	window.setTimeout(function(){
						if (firebug){
							//firebug.env.showIconWhenHidden = false;
							//firebug.env.height = 300;//295 default
							firebug.init();
							firebug.win.hide();
						}
					}, 3000);
                }
            }
        </script>
    </body>
</html>